<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="apiKey" value="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJqdGkiOiIxZjNjMzFhMC0xOGZkLTAxMzYtYjgwYy0wNjk4NDNiNWIwOTUiLCJpc3MiOiJnYW1lbG9ja2VyIiwiaWF0IjoxNTIyNzEyNDE3LCJwdWIiOiJibHVlaG9sZSIsInRpdGxlIjoicHViZyIsImFwcCI6InJlZWNlY2FtcGVyLWNveC1uZXQtcy1hcHAifQ.mRS8hOYuUJx7Wm_bYO42LhXDHzXQkHnK3W6FKirfyeM"/>
    <add key="playerName" value="ShawtyDaBomb"/>
    <add key="playerId" value="account.2a7b0fe56fa448d1bf964e570267ebe5"/>
  </appSettings>
</configuration>